* {
    padding: 0;
    margin: 0;
    transition: .2s;
}

body {
    margin: 30px 50px 0 50px;
    font-family: 'Rubik';
}

h2 {
    font-size: 38px;
    font-weight: 500;
    & bold {
        font-weight: 700;
    }
}

p {
    color: #666;
    font-weight: 400;
    font-size: 15px;
}

header {
    display: flex;
    position: relative;
    justify-content: space-between;
    & img {
        height: 35px;
        margin: 8px 15px;
    }
    a {
        text-decoration: none;
    }
    & nav {
        display: flex;
        align-items: center;
        & a {
            height: 35px;
            margin: 15px;
            color: #707070;
        }
    }
    & div {
        display: flex;
        height: 51px;
        align-items: center;
        & :first-child {
            color: #000;
            border: none;
        }
        & a {
            color: #f00;
            border: solid 1px #f00;
            margin: 0 15px;
            padding: 8px 30px;
            border-radius: 40px;
            font-weight: 600;
        }
    }
}

section{
    & p {
        font-size: 18px;
    }
}

section.hero {
    display: flex;
    position: relative;
    & h2 {
        margin-bottom: 10px;
    }
    & img {
        width: 50%;
    }
    & button {
        position: absolute;
        width: 250px;
        height: 60px;
        left: 0;
        bottom: 30px;
        background: #F53838;
        border-radius: 10px;
        font-family: 'Rubik';
        font-size: 17px;
        font-weight: 600;
        border: none;
        color: #fff;
        box-shadow: 0 15px 30px #F538387f;
    }
}

section.stats {
    margin-top: 100px;
    & img{
        width: 60px;
    }
    & ul {
        display: flex;
        justify-content: space-evenly;
        margin: 35px 0;
    }
    & li{
        display: flex;
        font-weight: 700;
        font-size: 20px;
        align-items: center;
        & .line {
            margin: 0;
            padding: 0;
            height: 100px;
            border-left: solid 1px #ddd;
        }
        & div {
            margin: 15px;
        }
    }
    & p {
        margin: 10px 0;
        font-size: 15px;
    }
}

section.features {
    background-color: #f3f3f3;
    padding: 80px 0;
    background-image: linear-gradient(to left, #fff,#f3f3f3,#fff);
    display: flex;
    justify-content: center;
    justify-content: space-between;
    & img {
        width: 50%;
    }
    & div {
        margin: 30px;
    }
    & li {
        margin: 5% 0;
        display: flex;
        align-items: center;
        & svg {
            margin: 0 5px 0 0;
        }
    }
}

section.pricing {
    padding: 50px 0;
    text-align: center;
    & h2 {
        margin: 20px;
    }
    & p {
        margin: 20px;
    }
    & .cards {
        display: flex;
        justify-content: space-evenly;
    }
}

.card {
    position: relative;
    width: 200px;
    padding: 30px;
    border: solid 1.5px #ddd;
    border-radius: 10px;
    transition: .2s;
    &:hover {
        border: solid 1.5px #F53838;
    }
    & h3 {
        margin: 10px 0;
    }
    & img {
        width: 160px;
        margin: 20px 0;
    }
    & li {
        display: flex;
        align-items: center;
        margin: 5px 0;
        color: #666;
        & svg {
            margin: 0 5px 0 0;
        }
    }
    & ul {
        padding-bottom: 100px;
    }
    & .select-area {
        position: absolute;
        width: 100%;
        bottom: 0;
        left: 0;
        padding: 30px 0;
        & button {
            color: #F53838;
            border: solid 1.5px #F53838;
            background-color: #fff;
            margin: 0 15px;
            padding: 10px 40px;
            border-radius: 40px;
            font-weight: 600;
            font-family: 'Rubik';
            font-size: 15px;
            transition: .2s;
            box-shadow: 0 0 0 #0000;
            &:hover {
                background-color: #F53838;
                color: #fff;
                box-shadow: 0 10px 20px #F5383855;
            }
        } 
    }
}

section.map {
    text-align: center;
    & h3 {
        margin: 20px 0;
    }
    & p {
        margin: 20px 0;
    }
    & img {
        width: 100%;
        margin: 50px 0;
    }
    & .sponsored {
        display: flex;
        justify-content: space-between;
        & svg {
            width: 15%;
            opacity: .8;
        }
    }
}

section.testimonials {
    text-align: center;
    & h3 {
        margin: 20px 0;
    }
    & p {
        margin: 20px 0;
    }

    .reviews {
        display: flex;
    }

    & .review {
        text-align: left;
        border: 1.5px solid #ddd;
        border-radius: 15px;
        min-width: 380px;
        width: 380px;
        padding: 20px;
        margin: 10px;
        & .user-area {
            display: flex;
            justify-content: space-between;
            & .user {
                display: flex;
                & .username {
                    padding: 0 15px;
                }
            }
            & .evaluation {
                display: flex;
                align-items: center;
            }
        }
        &:hover {
            border: 1.5px solid #F53838;
        }
    }


    .reviews-btn-area {
        text-align: end;
        & button {
            width: 50px;
            height: 50px;
            background-color: transparent;
            border: 1.5px solid #F53838;
            border-radius: 50%;
            &:hover { 
                background-color: #F53838;
                & svg {
                    & path {
                        fill: #fff;
                    }
                }
            }
        }
    }
    padding-bottom: 200px;
    position: relative;
}


section.subscribe {
    & .card {
        bottom: -200px;
        background-color: #fff;
        position: absolute;
        width: calc(100vw - 175px);
        display: flex;
        align-items: center;
        border: none;
        justify-content: space-between;
        box-shadow: 0 10px 25px #0002;
        & button {
            background-color: #F53838;
            border: none;
            border-radius: 15px;
            height: min-content;
            text-align: center;
            min-width: 180px;
            width: 250px;
            box-shadow: 0 10px 20px #F5383855;
            & p {
                color: #fff;
                font-family: 'Rubik';
            }
        }

        & .txt {
            text-align: left;
            & p {
                margin: 20px 0;
            }
        }
    }
}


footer {
    display: flex;
    justify-content: space-between;
    padding-top: 250px;
    background-color: #f00;
    & p {
        margin: 10px 0;
    }
    & img {
        max-width: 150px;
        width: 100%;
    }
    & div {
        margin: 0 15px;
        & p {
            max-width: 250px;
        }
    }
    & .footer-info {
        display: flex;
        justify-content: space-between;
        min-width: 300px;
        width: 50%;
    }

    & .a-logo {
        width: 30px;
        height: 30px;
        margin: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 50%;
        box-shadow: 0 5px 10px #0004;
        text-decoration: none;
        & i {
            color:#F53838;
        }
    }

    & .logo-footer {
        & div {
            display: flex;
            justify-content: left;
        }
    }

    padding-bottom: 40px;

    background-image: linear-gradient(to left, #fff, #eee, #fff);
}

section.testimonials .reviews {
    overflow-x: auto; 
    padding-bottom: 20px;
}

/*  МЕДІАЗАПИТИ  */

@media screen and (max-width: 992px) {
    body {
        margin: 20px;
    }
    section.hero img {
        width: 45%;
    }
    
    section.hero h2 {
        font-size: 30px; 
    }

    section.pricing .cards {
        flex-wrap: wrap;
        justify-content: center;
        gap: 30px;
    }
}


@media screen and (max-width: 768px) {
    header {
        flex-direction: column;
        align-items: center;
        gap: 20px;
        & nav {
            flex-direction: column;
            width: 100%;
            & a {
                margin: 5px;
            }
        }
        & div {
            margin-top: 10px;
        }
    }
    section.hero {
        flex-direction: column;
        text-align: center;
        align-items: center;
        & img {
            width: 80%;
            margin-top: 30px;
            order: -1;
        }
        & button {
            position: relative;
            bottom: auto;
            left: auto;
            margin-top: 30px;
            width: 100%;
            max-width: 300px;
        }
    }

    section.stats {
        margin-top: 50px;
        & ul {
            flex-direction: column;
            align-items: center;
            gap: 30px;
        }
        & li {
            width: 100%;
            justify-content: center;
            & .line {
                display: none;
            }
        }
    }

    section.features {
        flex-direction: column;
        padding: 40px 0;
        & img {
            width: 100%;
            margin-bottom: 30px;
        }
        & div {
            margin: 0 10px;
        }
    }

    section.pricing .cards {
        flex-direction: column;
        align-items: center;
    }

    .card {
        width: 100%;
        box-sizing: border-box;
    }

    section.testimonials {
        & .reviews {
            flex-wrap: nowrap;
            justify-content: flex-start;
            padding-left: 10px;
        }
        & .review {
            min-width: 85vw;
            margin-right: 15px;
        }
    }

    section.subscribe .card {
        position: relative;
        bottom: auto;
        width: 100%;
        flex-direction: column;
        text-align: center;
        padding: 30px 20px;
        margin-bottom: -50px;
        box-sizing: border-box;
        & .txt {
            text-align: center;
            margin-bottom: 20px;
        }
    }

    footer {
        flex-direction: column;
        padding-top: 100px;
        text-align: left;
        gap: 40px;
        & .footer-info {
            flex-direction: column;
            width: 100%;
            gap: 30px;
        }
    }

    footer > div {
        margin: 0;
    }
}